In [1]:
#班級:財金三乙 姓名:嚴思函 學號:A105230072

# A.regression
#from sklearn.tree import DecisionTreeRegressor
#tree_reg = DecisionTreeRegressor(max_depth=18)
#tree_reg.fit(X_train, y_train)
# 6040.679484422854

# B.Classification
#from sklearn.ensemble import AdaBoostClassifier
#from sklearn.tree import DecisionTreeClassifier
#ada_clf = AdaBoostClassifier(
#DecisionTreeClassifier(max_depth=10), n_estimators=500,
#algorithm="SAMME", learning_rate=1)
#ada_clf.fit(X_train, y_train)
#0.9079457364341085

In [2]:
import pandas as pd
import numpy as np

In [3]:
housing = pd.read_csv("housing.csv")

In [4]:
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [6]:
housing["ocean_proximity"].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [7]:
print(housing.describe())

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [8]:
corr_matrix = housing.corr()
corr_matrix["median_house_value"].sort_values(ascending = False)

median_house_value    1.000000
median_income         0.688075
total_rooms           0.134153
housing_median_age    0.105623
households            0.065843
total_bedrooms        0.049686
population           -0.024650
longitude            -0.045967
latitude             -0.144160
Name: median_house_value, dtype: float64

In [9]:
housing["rooms_per_household"] = housing["total_rooms"] / housing["population"]
housing["population_per_household"] = housing["population"] / housing["households"]
corr_matrix = housing.corr()
corr_matrix["median_house_value"].sort_values(ascending=False)

median_house_value          1.000000
median_income               0.688075
rooms_per_household         0.209482
total_rooms                 0.134153
housing_median_age          0.105623
households                  0.065843
total_bedrooms              0.049686
population_per_household   -0.023737
population                 -0.024650
longitude                  -0.045967
latitude                   -0.144160
Name: median_house_value, dtype: float64

In [10]:
housing[housing.isnull().any(axis=1)].head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,population_per_household
290,-122.16,37.77,47.0,1256.0,NaN,570.0,218.0,4.3750,161900.0,NEAR BAY,2.203509,2.614679
341,-122.17,37.75,38.0,992.0,NaN,732.0,259.0,1.6196,85100.0,NEAR BAY,1.355191,2.826255
538,-122.28,37.78,29.0,5154.0,NaN,3741.0,1273.0,2.5762,173400.0,NEAR BAY,1.377706,2.938727
563,-122.24,37.75,45.0,891.0,NaN,384.0,146.0,4.9489,247100.0,NEAR BAY,2.320312,2.630137
696,-122.10,37.69,41.0,746.0,NaN,387.0,161.0,3.9063,178400.0,NEAR BAY,1.927649,2.403727
738,-122.14,37.67,37.0,3342.0,NaN,1635.0,557.0,4.7933,186900.0,NEAR BAY,2.044037,2.935368
1097,-121.77,39.66,20.0,3759.0,NaN,1705.0,600.0,4.7120,158600.0,INLAND,2.204692,2.841667
1350,-121.95,38.03,5.0,5526.0,NaN,3207.0,1012.0,4.0767,143100.0,INLAND,1.723106,3.168972
1456,-121.98,37.96,22.0,2987.0,NaN,1420.0,540.0,3.6500,204100.0,INLAND,2.103521,2.629630
1493,-122.01,37.94,23.0,3741.0,NaN,1339.0,499.0,6.7061,322300.0,NEAR BAY,2.793876,2.683367

In [11]:
# housing = housing.dropna(subset=["total_bedrooms"])    # option 1
housing = housing.drop("total_bedrooms", axis=1)       # option 2
# median = housing["total_bedrooms"].median()            # option 3
# housing["total_bedrooms"].fillna(median, inplace=True) # option 3
housing

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,population_per_household
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252,452600.0,NEAR BAY,2.732919,2.555556
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,2.956685,2.109842
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574,352100.0,NEAR BAY,2.957661,2.802260
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431,341300.0,NEAR BAY,2.283154,2.547945
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462,342200.0,NEAR BAY,2.879646,2.181467
5,-122.25,37.85,52.0,919.0,413.0,193.0,4.0368,269700.0,NEAR BAY,2.225182,2.139896
6,-122.25,37.84,52.0,2535.0,1094.0,514.0,3.6591,299200.0,NEAR BAY,2.317185,2.128405
7,-122.25,37.84,52.0,3104.0,1157.0,647.0,3.1200,241400.0,NEAR BAY,2.682800,1.788253
8,-122.26,37.84,42.0,2555.0,1206.0,595.0,2.0804,226700.0,NEAR BAY,2.118574,2.026891
9,-122.25,37.84,52.0,3549.0,1551.0,714.0,3.6912,261100.0,NEAR BAY,2.288201,2.172269
10,-122.26,37.85,52.0,2202.0,910.0,402.0,3.2031,281500.0,NEAR BAY,2.419780,2.263682
11,-122.26,37.85,52.0,3503.0,1504.0,734.0,3.2705,241800.0,NEAR BAY,2.329122,2.049046
12,-122.26,37.85,52.0,2491.0,1098.0,468.0,3.0750,213500.0,NEAR BAY,2.268670,2.346154
13,-122.26,37.84,52.0,696.0,345.0,174.0,2.6736,191300.0,NEAR BAY,2.017391,1.982759
14,-122.26,37.85,52.0,2643.0,1212.0,620.0,1.9167,159200.0,NEAR BAY,2.180693,1.954839
15,-122.26,37.85,50.0,1120.0,697.0,264.0,2.1250,140000.0,NEAR BAY,1.606887,2.640152
16,-122.27,37.85,52.0,1966.0,793.0,331.0,2.7750,152500.0,NEAR BAY,2.479193,2.395770
17,-122.27,37.85,52.0,1228.0,648.0,303.0,2.1202,155500.0,NEAR BAY,1.895062,2.138614
18,-122.26,37.84,50.0,2239.0,990.0,419.0,1.9911,158700.0,NEAR BAY,2.261616,2.362768
19,-122.27,37.84,52.0,1503.0,690.0,275.0,2.6033,162900.0,NEAR BAY,2.178261,2.509091
20,-122.27,37.85,40.0,751.0,409.0,166.0,1.3578,147500.0,NEAR BAY,1.836186,2.463855
21,-122.27,37.85,42.0,1639.0,929.0,366.0,1.7135,159800.0,NEAR BAY,1.764263,2.538251
22,-122.27,37.84,52.0,2436.0,1015.0,478.0,1.7250,113900.0,NEAR BAY,2.400000,2.123431
23,-122.27,37.84,52.0,1688.0,853.0,325.0,2.1806,99700.0,NEAR BAY,1.978898,2.624615
24,-122.27,37.84,52.0,2224.0,1006.0,422.0,2.6000,132600.0,NEAR BAY,2.210736,2.383886
25,-122.28,37.85,41.0,535.0,317.0,119.0,2.4038,107500.0,NEAR BAY,1.687697,2.663866
26,-122.28,37.85,49.0,1130.0,607.0,239.0,2.4597,93800.0,NEAR BAY,1.861614,2.539749
27,-122.28,37.85,52.0,1898.0,1102.0,397.0,1.8080,105500.0,NEAR BAY,1.722323,2.775819
28,-122.28,37.84,50.0,2082.0,1131.0,473.0,1.6424,108900.0,NEAR BAY,1.840849,2.391121
29,-122.28,37.84,52.0,729.0,395.0,155.0,1.6875,132000.0,NEAR BAY,1.845570,2.548387
...,...,...,...,...,...,...,...,...,...,...,...
20610,-121.56,39.10,28.0,2130.0,1195.0,439.0,1.3631,45500.0,INLAND,1.782427,2.722096
20611,-121.55,39.10,27.0,1783.0,1163.0,409.0,1.2857,47000.0,INLAND,1.533104,2.843521
20612,-121.56,39.08,26.0,1377.0,761.0,267.0,1.4934,48300.0,INLAND,1.809461,2.850187
20613,-121.55,39.09,31.0,1728.0,1167.0,384.0,1.4958,53400.0,INLAND,1.480720,3.039062
20614,-121.54,39.08,26.0,2276.0,1455.0,474.0,2.4695,58000.0,INLAND,1.564261,3.069620
20615,-121.54,39.08,23.0,1076.0,724.0,197.0,2.3598,57500.0,INLAND,1.486188,3.675127
20616,-121.53,39.08,15.0,1810.0,1157.0,375.0,2.0469,55100.0,INLAND,1.564391,3.085333
20617,-121.53,39.06,20.0,561.0,308.0,114.0,3.3021,70800.0,INLAND,1.821429,2.701754
20618,-121.55,39.06,25.0,1332.0,726.0,226.0,2.2500,63400.0,INLAND,1.834711,3.212389
20619,-121.56,39.01,22.0,1891.0,1023.0,296.0,2.7303,99100.0,INLAND,1.848485,3.456081
20620,-121.48,39.05,40.0,198.0,151.0,48.0,4.5625,100000.0,INLAND,1.311258,3.145833
20621,-121.47,39.01,37.0,1244.0,484.0,157.0,2.3661,77500.0,INLAND,2.570248,3.082803
20622,-121.44,39.00,20.0,755.0,457.0,157.0,2.4167,67000.0,INLAND,1.652079,2.910828
20623,-121.37,39.03,32.0,1158.0,598.0,227.0,2.8235,65500.0,INLAND,1.936455,2.634361
20624,-121.41,39.04,16.0,1698.0,731.0,291.0,3.0739,87200.0,INLAND,2.322845,2.512027
20625,-121.52,39.12,37.0,102.0,29.0,14.0,4.1250,72000.0,INLAND,3.517241,2.071429
20626,-121.43,39.18,36.0,1124.0,504.0,171.0,2.1667,93800.0,INLAND,2.230159,2.947368
20627,-121.32,39.13,5.0,358.0,169.0,59.0,3.0000,162500.0,INLAND,2.118343,2.864407
20628,-121.48,39.10,19.0,2043.0,1018.0,390.0,2.5952,92400.0,INLAND,2.006876,2.610256
20629,-121.39,39.12,28.0,10035.0,6912.0,1818.0,2.0943,108300.0,INLAND,1.451823,3.801980
20630,-121.32,39.29,11.0,2640.0,1257.0,445.0,3.5673,112000.0,INLAND,2.100239,2.824719
20631,-121.40,39.33,15.0,2655.0,1200.0,432.0,3.5179,107200.0,INLAND,2.212500,2.777778
20632,-121.45,39.26,15.0,2319.0,1047.0,385.0,3.1250,115600.0,INLAND,2.214900,2.719481
20633,-121.53,39.19,27.0,2080.0,1082.0,382.0,2.5495,98300.0,INLAND,1.922366,2.832461
20634,-121.56,39.27,28.0,2332.0,1041.0,344.0,3.7125,116800.0,INLAND,2.240154,3.026163
20635,-121.09,39.48,25.0,1665.0,845.0,330.0,1.5603,78100.0,INLAND,1.970414,2.560606
20636,-121.21,39.49,18.0,697.0,356.0,114.0,2.5568,77100.0,INLAND,1.957865,3.122807
20637,-121.22,39.43,17.0,2254.0,1007.0,433.0,1.7000,92300.0,INLAND,2.238332,2.325635
20638,-121.32,39.43,18.0,1860.0,741.0,349.0,1.8672,84700.0,INLAND,2.510121,2.123209
20639,-121.24,39.37,16.0,2785.0,1387.0,530.0,2.3886,89400.0,INLAND,2.007931,2.616981

In [12]:
housing_cat = housing[["ocean_proximity"]]
housing_cat.head(10)

  ocean_proximity
0        NEAR BAY
1        NEAR BAY
2        NEAR BAY
3        NEAR BAY
4        NEAR BAY
5        NEAR BAY
6        NEAR BAY
7        NEAR BAY
8        NEAR BAY
9        NEAR BAY

In [13]:
# 分類作法 A

from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
housing_cat = housing["ocean_proximity"]
housing_cat_encoded = encoder.fit_transform(housing_cat)
housing_cat_encoded

array([3, 3, 3, ..., 1, 1, 1])

In [14]:
print(encoder.classes_)

['<1H OCEAN' 'INLAND' 'ISLAND' 'NEAR BAY' 'NEAR OCEAN']

In [15]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(categories='auto')
housing_cat_1hot = encoder.fit_transform(housing_cat_encoded.reshape(-1,1))
housing_cat_1hot

<20640x5 sparse matrix of type '<class 'numpy.float64'>'
	with 20640 stored elements in Compressed Sparse Row format>

In [16]:
housing_cat_1hot.toarray()

array([[0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.],
       ...,
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0.]])

In [17]:
pd.DataFrame(housing_cat_1hot.toarray()).iloc[:, 1:].head()

     1    2    3    4
0  0.0  0.0  1.0  0.0
1  0.0  0.0  1.0  0.0
2  0.0  0.0  1.0  0.0
3  0.0  0.0  1.0  0.0
4  0.0  0.0  1.0  0.0

In [18]:
housing_final = pd.concat([housing, pd.DataFrame(housing_cat_1hot.toarray()).iloc[:, 1:]], axis=1)

In [19]:
housing_final.head()

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,population_per_household,1,2,3,4
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252,452600.0,NEAR BAY,2.732919,2.555556,0.0,0.0,1.0,0.0
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,2.956685,2.109842,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574,352100.0,NEAR BAY,2.957661,2.802260,0.0,0.0,1.0,0.0
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431,341300.0,NEAR BAY,2.283154,2.547945,0.0,0.0,1.0,0.0
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462,342200.0,NEAR BAY,2.879646,2.181467,0.0,0.0,1.0,0.0

In [20]:
X = housing_final.drop("median_house_value", axis=1).drop("ocean_proximity", axis=1)
X.head()

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,rooms_per_household,population_per_household,1,2,3,4
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252,2.732919,2.555556,0.0,0.0,1.0,0.0
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014,2.956685,2.109842,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574,2.957661,2.802260,0.0,0.0,1.0,0.0
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431,2.283154,2.547945,0.0,0.0,1.0,0.0
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462,2.879646,2.181467,0.0,0.0,1.0,0.0

In [21]:
y = housing_final[["median_house_value"]]
y.head()

   median_house_value
0            452600.0
1            358500.0
2            352100.0
3            341300.0
4            342200.0

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [23]:
from sklearn.tree import DecisionTreeRegressor
tree_reg = DecisionTreeRegressor(max_depth=18)
tree_reg.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=18, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [24]:
from sklearn.metrics import mean_squared_error

housing_predictions = tree_reg.predict(X_train)
lin_mse = mean_squared_error(y_train, housing_predictions)
lin_rmse = np.sqrt(lin_mse)
print(lin_rmse)

from sklearn.metrics import mean_absolute_error
lin_mae = mean_absolute_error(y_train, housing_predictions)
print(lin_mae)

14468.583408772338
6040.679484422854

## 處理分類問題

In [25]:
import copy

In [26]:
housing_classify = copy.deepcopy(housing_final)
housing_classify.head(10)

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,population_per_household,1,2,3,4
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252,452600.0,NEAR BAY,2.732919,2.555556,0.0,0.0,1.0,0.0
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,2.956685,2.109842,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574,352100.0,NEAR BAY,2.957661,2.802260,0.0,0.0,1.0,0.0
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431,341300.0,NEAR BAY,2.283154,2.547945,0.0,0.0,1.0,0.0
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462,342200.0,NEAR BAY,2.879646,2.181467,0.0,0.0,1.0,0.0
5,-122.25,37.85,52.0,919.0,413.0,193.0,4.0368,269700.0,NEAR BAY,2.225182,2.139896,0.0,0.0,1.0,0.0
6,-122.25,37.84,52.0,2535.0,1094.0,514.0,3.6591,299200.0,NEAR BAY,2.317185,2.128405,0.0,0.0,1.0,0.0
7,-122.25,37.84,52.0,3104.0,1157.0,647.0,3.1200,241400.0,NEAR BAY,2.682800,1.788253,0.0,0.0,1.0,0.0
8,-122.26,37.84,42.0,2555.0,1206.0,595.0,2.0804,226700.0,NEAR BAY,2.118574,2.026891,0.0,0.0,1.0,0.0
9,-122.25,37.84,52.0,3549.0,1551.0,714.0,3.6912,261100.0,NEAR BAY,2.288201,2.172269,0.0,0.0,1.0,0.0

In [27]:
housing_classify["median_house_value"].median()

179700.0

In [28]:
housing_classify['midian_classify'] = housing_classify["median_house_value"]> housing_classify["median_house_value"].median()
housing_classify['midian_classify'].head(10)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: midian_classify, dtype: bool

In [29]:
housing_classify['midian_classify'] = housing_classify['midian_classify'].astype(int)
housing_classify['midian_classify'].head(10)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: midian_classify, dtype: int64

In [30]:
X = housing_classify.drop("median_house_value", axis=1).drop("ocean_proximity", axis=1).drop("midian_classify", axis=1)

In [31]:
X.head()

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,rooms_per_household,population_per_household,1,2,3,4
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252,2.732919,2.555556,0.0,0.0,1.0,0.0
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014,2.956685,2.109842,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574,2.957661,2.802260,0.0,0.0,1.0,0.0
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431,2.283154,2.547945,0.0,0.0,1.0,0.0
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462,2.879646,2.181467,0.0,0.0,1.0,0.0

In [32]:
y = housing_classify[["midian_classify"]]
y.head()

   midian_classify
0                1
1                1
2                1
3                1
4                1

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [34]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
ada_clf = AdaBoostClassifier(
DecisionTreeClassifier(max_depth=10), n_estimators=500,
algorithm="SAMME", learning_rate=1)
ada_clf.fit(X_train, y_train)

/anaconda3/envs/shu/lib/python3.6/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

AdaBoostClassifier(algorithm='SAMME',
          base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
          learning_rate=1, n_estimators=500, random_state=None)

In [35]:
# train performance
y_pred = ada_clf.predict(X_train)
n_correct = sum(y_pred == y_train.as_matrix().ravel())
print(n_correct / len(y_pred))
# test performance
y_pred = ada_clf.predict(X_test)
n_correct = sum(y_pred == y_test.as_matrix().ravel())
print(n_correct / len(y_pred))

/anaconda3/envs/shu/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

1.0
0.9079457364341085

/anaconda3/envs/shu/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  import sys